{% extends 'layout.html.twig' %}

{% block title %}
Sorties
{% endblock %}

{% block main %}
    <form method="get">
        <label for="site">Site : </label>
        <select id="site" name="site">
            <option value="">Site</option>
            {% for site in sites %}
                <option value="{{ site.nom }}">{{ site.nom }}</option>
            {% endfor %}
        </select>

        <label for="recherche">Le nom de la sortie contient : </label>
        <input id="recherche" name="recherche" type="text"/><br/>
        <label for="debut">Entre : </label>
        <input id="debut" name="debut" type="date">
        <label for="fin"> et :</label>
        <input id="fin" name="fin" type="date"><br/>

        <input type="checkbox" id="organisateur" name="organisateur" value="organisateur">
        <label for="organisateur">Sorties dont je suis l'organisateur/trice</label><br/>
        <input type="checkbox" id="inscrit" name="inscrit" value="inscrit">
        <label for="inscrit">Sorties auxquelles je suis inscrit/e</label><br/>
        <input type="checkbox" id="non_inscrit" name="non_inscrit" value="non_inscrit">
        <label for="non_inscrit">Sorties auxquelles je ne suis pas inscrit/e</label><br/>
        <input type="checkbox" id="passes" name="passes" value="passes">
        <label for="passes">Sorties passées</label><br/>

        <button type="submit">Rechercher</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date("d/m/Y H:i") }}</td>
                    <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                    <td>TODO / {{ sortie.nbInscriptionsMax }}</td>
                    <td>{% if sortie.etat %}{{ sortie.etat.libelle }}{% else %}'non renseigné'{% endif %}</td>
                    <td>TODO</td>
                    <td>{{ sortie.organisateur.pseudo }}</td>
                    <td>
                        {% if sortie.etat.id != 1 %}<a href="{#TODO#}">Afficher</a>{% endif %}

                        {#TODO : ajouter 'etre inscrit' dans le if#}
                        {% if sortie.etat.id != 4 and sortie.etat.id != 5 %}<a href="#?action=desister">Se désister</a>{% endif %}

                        {#TODO : ajouter 'ne pas etre inscrit' dans le if#}
                        {% if sortie.etat.id == 2 %}<a href="#?action=inscrire">S'inscrire</a>{% endif %}
                        {% if sortie.etat.id == 1 %}
                            <a href="{#TODO#}">Modifier</a>
                            <a href="{#TODO#}">Publier</a>
                        {% endif %}

                        {#TODO : remplacer id user par 'app.user.id'#}
                        {% if sortie.organisateur.id == 1 and (sortie.etat.id == 2 or sortie.etat.id == 3) %}{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}