<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Sortir</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <header><img src="{{ asset('img/logo.jpg') }}" alt="logo_Sortir.com"></header>
        <nav>
            <ul>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="">Villes</a></li>
                <li><a href="">Sites</a></li>
                {% endif %}
                <li><a href="{{ path('accueil') }}">Accueil</a></li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li><a href="{{ path('gerer_profil') }}">Mon profil</a></li>
                <li><a href="{{ path('sorties') }}">Liste des sorties</a></li>
                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% else %}
                <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="flash">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <main>
            <p>Date du jour : {{ "now"|date("d/m/Y") }}</p><br/>
            <p>Participant : {% if is_granted('IS_AUTHENTICATED_REMEMBERED') or is_granted('IS_AUTHENTICATED_FULLY')%} {{ app.user.pseudo }} {% endif %}</p>
            {% block main %}{% endblock %}
        </main>
        <footer></footer>
    </body>
</html>
